.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.4rem;
    border: 1px solid transparent;
    border-radius: 0.475rem;
    font-weight: 500;
    cursor: pointer;

    &.btn-primary {
        background: var(--primary-color);
        color: #ffffff;
        border-color: var(--primary-color);
    }

    &.btn-outline {
        background: transparent;
        color: var(--text-black);
        border-color: var(--primary-color);

        &:hover {
            background: var(--primary-color);
            transition: all 0.2s ease-in-out;
            color: #ffffff;
        }
    }

    &:disabled,
    &.disabled {
        background: #e5e7eb;
        /* gray-200 */
        color: var(--text-black);
        cursor: not-allowed;
        opacity: 0.7;
    }
}

.container {
    max-width: 1100px;
    margin-left: auto; // mx-auto
    margin-right: auto;

    padding-left: 1rem; // px-4
    padding-right: 1rem;

    @media (min-width: 1650px) {
        max-width: 1500px;
    }

    @media (min-width: 1400px) and (max-width: 1650px) {
        max-width: 1300px;
    }

    @media (min-width: 1100px) and (max-width: 1280px) {
        max-width: 1000px;
    }

    @media (min-width: 768px) {
        // md:
        padding-left: 1.5rem; // px-6
        padding-right: 1.5rem;
    }
}

.cont {
    padding-top: 3rem; // py-12
    padding-bottom: 3rem;

    @media (min-width: 768px) {
        // md:
        padding-top: 5rem; // py-16
        padding-bottom: 5rem;
    }
}

.divider{
    border-bottom: 1px solid var(--border-medium);
}