@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.h1 {
    font-family: "Source Serif 4" !important;
    color: var(--text-black);
    line-height: 1.2 !important;
    font-size: 2.75rem !important;

    @media (min-width: 768px) {
        font-size: 3.5rem !important;
    }
}

.h2 {
    font-family: "Source Serif 4", serif !important;
    color: var(--text-black);    
    line-height: 1.2 !important;
    font-size: 1.875rem !important; // text-3xl
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        font-size: 2.25rem !important; // md:text-4xl
    }
}

.h3 {
    font-family: "Source Serif 4", serif !important;
    font-size: 1.5rem !important; // text-2xl
    color: var(--text-black);
    font-weight: 700 !important;
}

.sub {
    &__h1 {
        color: var(--text-black);
        font-size: 1.25rem !important; // text-xl
    }

    &__h2 {
        font-size: 1.125rem !important; // text-lg
        color: var(--text-muted);
        line-height: 1.625 !important; // leading-relaxed
    }
}

