:root {
  --background: #ffffff;
  --foreground: #40434a;

  /* Border shades */
  --border-medium: rgba(156, 163, 175, 0.2);
  --border-light: rgba(156, 163, 175, 0.1);

  /* Text shades */
  --text-black: #40434a;
  --text-white: #ffffff;
  --text-gray-500: #6b7280;
  --text-gray-600: #4b5563;
  --text-muted: #4b5563;

  /* Background shades */
  --background-gray-light: rgba(245, 245, 245, 0.5);
  --background-gray-base: #fbfafd;
  --background-hover: #f3f4f6;

  --primary-color: #5B21B5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  /* Border shades */
  // --border-medium: rgba(255, 255, 255, 0.15);
  // --border-light: rgba(255, 255, 255, 0.08);
  --border-medium: rgba(156, 163, 175, 0.2);
  --border-light: rgba(156, 163, 175, 0.1);

  /* Text shades */
  --text-black: #ededed;
  --text-white: #0a0a0a;
  --text-gray-500: #a1a1aa;
  --text-gray-600: #d4d4d8;
  --text-muted: #a1a1aa;

  /* Background shades */
  --background-gray-light: rgba(30, 30, 30, 0.5);
  --background-gray-base: #141414;
  --background-hover: rgba(255, 255, 255, 0.1);

  --primary-color: #8b5cf6;

  // --primary-color: #5B21B5;
}