@import "tailwindcss";

/* .layout-main {
  height: 100vh;
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.border-dark {
  border-color: var(--border-medium) !important;
}
.border-light {
  border-color: var(--border-light) !important;
}

/* Utilities: Text */
.text-black {
  color: var(--text-black) !important;
}
.text-gray-light {
  color: var(--text-gray-500) !important;
}
.text-gray-dark {
  color: var(--text-gray-600) !important;
}
.text-white {
  color: var(--text-white) !important;
}

/* Utilities: Background */
.bg-gray-light {
  background-color: var(--background-gray-light) !important;
}
.bg-base {
  background-color: var(--background-gray-base) !important;
}
